* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Barra de Navegacion */

nav {
	background-color: whitesmoke;
    backdrop-filter:  blur(10px);
    color: black;
    width: 100%;
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
    padding: 5px;
}

nav .mobile {
    display: none;
}

nav .mobile .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

nav .mobile .header .more button {
    border: none;
    padding: 15px;
    cursor: pointer;
    background: none;
}

nav a {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase; 
    justify-content: center;
    align-items: center;
    font-size: 1em;
    transition: opacity .2s;
    color: #686868;
    text-decoration: none;
    display: flex;
    text-align: center;
    margin-left: 10px;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav .desktop .primary {
    justify-content: center !important;
    align-items: center;
    display: flex;
}

nav .desktop .logo {
    display: flex;
    justify-content: start !important;
}

nav .desktop .primary, 
nav .desktop .secondary {
    display: flex;
}

nav .desktop .secondary.mini {
    display: none;
}

.material-symbols-outlined {
    color: black;
    background: none;
}

.collapsed {
    display: none;
}

.red-social {
    display: flex;
    justify-content: end;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 885px) {

    /* Barra de Navegacion */

    nav .logo {
        min-width: 100px;
    }

    nav .desktop .primary {
        display: none;
    }

    nav .secondary{
        display: none;
    }

    nav .secondary.mini {
        display: block !important;
    }
    nav .secondary.mini a {
        justify-content: center;
        align-items: center;
        display: flex;

    }

    nav .secondary.mini  .submenu{
        background-color: black;
        position: absolute;
        display: none;
        width: 200px;
        right: 0;
        padding: 20px;
    }

    nav .secondary.mini:hover .submenu {
        display: block;
        background-color: rgba(0, 0, 0, 0.83);
        backdrop-filter:  blur(10px);
    }
}

@media screen and (max-width: 500px) {

    /* Barra de Navegacion */

    nav .desktop {
        display: none;
    }

    nav .mobile {
        display: block;
    }

    nav .logo {
        align-items: center;
    }

    nav a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 20px 12.5px;
    }

    /* info de la pagina */

    .mobile-information {
    	padding: 10px;
    	margin: 5px;
    	text-align: justify;
    }

    h1 {
    	font-weight: bold;
    	font-size: 25px;
    	padding: 5px;

    }

    h2 {
    	font-weight: bold;
    	font-size: 19px;
    }

    h2 .ceh {
    	font-weight: bold;
    	font-size: 15px
    }

    .title-definition {
    	font-size: 19px;
    	font-weight: bold;
    	padding: 5px;
    	margin: 5px;
    }

    .definiciones {
    	padding: 10px;
    	margin-left: 20px;
    	margin-right: 20px;
    	
    }

    .image-example {
    	height: 300px;
    	width: auto;
    }

    .image-example2 {
    	height: 250px;
    	width: 300px;
    }

    .image-example3 {
    	height: 250px;
    	width: 300px;
    }

    .img {
    	justify-content: center;
    	align-items: center;
    	display: flex;
    	padding-top: 15px;
    	padding-bottom: 15px;
    }

    .consejos {
    	font-size: 13px;
    	font-weight: bold;
    	padding: 10px;
    }

    .consejos li {
    	padding: 3px;
    }
}